*{
  padding: 2px; /*отступ внутренний*/
  margin: 0;/*отступ внешний*/
  border: 0;
}
/*(учитываем отступы полей и границ)*/
*,*:before,*::after{  
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*уравниваем поведение шрифтов и элементов*/
html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
}
/*наследование шрифта*/
input,button,textarea{font-family: inherit;}
a, a:visited{text-decoration: none;} 
img{vertical-align: top;}
ul li{list-style: none;} 

/*------------------------------------------------------------------------------------*/
body{
  background:  #FF6347 ;
}
.navigation{

  display: flex;
  justify-content: space-between;
  align-items: center;

}
.nav{
  display: flex;
}
.nav li a{
  color: #0a5f11;
  margin: 0 30px 0 0;
  font-size: 18px;
}

.logo{
  font-size: 40px;
  color:rgb(115, 18, 18);
}
.link {
  transition: .3s;
}
.link:hover{
  color: #00D4C6;
}

.description{
  top: 35%;
  left: 10%;
  position: absolute;
  display: flex;
  justify-content: space-between;
}
.description h1{
  width: 35%;
  font-size: 40px;
  color: #0e4215;

}
/*-----popup-----------------------------------------------*/
.popup{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color:rgba(115, 18, 18, .4);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;

}
.popup:target{
  opacity: 1;
  visibility: visible;
}
.popup_body{
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
 
}
.popup_content{
  background-color: #fff;
  color: black;
  max-width: 450px;
  padding: 30px;
  position: relative;
  border-radius: 14px;
  border: 14px;
 
}
.popup_close{
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: black;
  text-decoration: none;
}
.popup_title{
  font-size: 20px;
  color: rgb(143,44,36,1);

}

.link_sign_up{
font-size: 14px;
line-height: 18, 23px;
color: rgb(143,44,36,1);
}
.top{
  display: flex;
  justify-content: space-between;
}
.first{
  border: none;
  margin-right: 20px;

}
.number{
background: #F0F0F0;
border-radius: 4px;
width: 94px;
height: 30px;
}
.popup_text hr{
margin-top: 20px;
}
.auto_start{
margin-top: 10px;
}
/*-----------switch--------------------------*/
.auto_start{
display: flex;
justify-content: space-between;  
}
.switch {
position: relative;
display: inline-block;
width: 35px;
height: 20px;
}
.switch input {display:none;}
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}
.slider:before {
position: absolute;
content: "";
height: 17px;
width: 17px;
top: 1px;
left: 1px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}
input:checked + .slider {
background-color: #04615b;
}

input:focus + .slider {
box-shadow: 0 0 1px #04615b;
}

input:checked + .slider:before {
-webkit-transform: translateX(16px);
-ms-transform: translateX(16px);
transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
border-radius: 24px;
}

.slider.round:before {
border-radius: 50%;
}
/*----popup_2---------------------------*/
.popup p {
font-size: 16px;
line-height: 18px;
}
.reg_yet{
display: flex;
  justify-content: space-between;
  text-align: center;
}
.input-form{
width: 380px;
height: 42px;
left: 35px;
top: 211px;
background: #F0F0F0;
border-radius: 6px;
}
.btn_sing_in{
color: white;
width: 380px;
height: 48px;
left: 35px;
top: 283px;
background: #CC5B53;
border-radius: 6px;
margin: 20px 0;
}
.or {
text-align: center;
  /* чтобы линии не выходили за ширину блока заголовка */
  overflow: hidden;
}
.or:before,
.or:after {
  content: '';

  /* делаем линию строчно-блочной */
  display: inline-block;

  /* выравниваем вертикально по середине */
  vertical-align: middle;

  /* не позволяем ширине превысить 100% (будет добавлен бордюр) */
  box-sizing: border-box;

  /* установка ширины в 100% делает линию равной ширине тега заголовка
  ** благодаря этому линия заполнит все свободное пространство
  ** слева и справа от текста
  */
  width: 100%;
  height: 2px;
  background: #F1F1F1;
  /* добавляем к линии левый и правый бордюр цветом основного фона заголовка
** благодаря этому создается нужный отступ между линиями и текстом
*/
  border: solid #FFF;
border-width: 0 10px;
}
.or:before {
  /* смещаем левую линию влево отрицательным отступом, равным 100% ширины
  ** благодаря этому линия встает слева от текста
  */
  margin-left: -100%;
}
.or:after {
  /* смещаем правую линию вправо отрицательным отступом, равным 100% ширины
  ** благодаря этому линия встает справа от текста
  */
  margin-right: -100%;
}
.fa-google{
color: red;
margin-left: 10%;
}
.btn_sing_G{
margin-right: 30%;
background: none;
font-size: 16px;
}
.btn_sing_Google{
  display: flex;
  justify-content: space-between;  
  align-items: center ;
  width: 380px;
height: 48px;
left: 35px;
top: 422px;
background: #FFFFFF;
border: 1px solid #2B0300;
box-sizing: border-box;
border-radius: 6px;
}
/*----popup_3---------------------------*/
.Pr_Pol{
width: 380px;
height: 42px;
left: 35px;
top: 211px;
background: white;
margin: 10px 0px 16px 0px ;
}

/*--------------------------------------*/
.container{
  margin-right: 20%;
}
/* Countdown timer */
.timer {
  color: #0e4215;
  text-align: center;
  font-size: 30px;
  width: 20rem;
  height: 20rem;
  border: 15px solid rgb(115, 18, 18);
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row {
  width: 30%;
  display: flex;
  justify-content: space-between;

}
.cont_btn{
  display: flex;
  justify-content: space-between;
  justify-content: center;
}
.btn, .fa-redo{
  padding: 0;
  justify-content: center;
  background: none;
  color: #0e4215;
  font-size: 40px;
  border: 2px solid transparent;
  outline: 0;
}
.fa-redo{
  font-size: 33px; 
  margin-top: 4px;
}
.btn:hover,
.fa-redo:hover {
  color: #bae8e8;
  transition: 0.3s ease;
}
.show_message {
  display: block;
  padding: 1rem 0;
  color: #272343;
  background: #e3f6f5;
  border-radius: 0.5rem;
  transition: 0.5s ease;
}